﻿@model ZjazdRodzinny.Models.ListGalleryViewModel


<div class="container py-4 pt-lg-6 pb-lg-8">
    <hr class="hr-lg mt-0 mb-2 w-10 mx-auto hr-primary" />
    <h2 class="text-slab text-center text-uppercase mt-0 mb-5">
        Kolekcja <span class="font-weight-bold">zdjęć</span>
    </h2>
    <div class="cbp" data-toggle="cbp" data-settings='{ "layoutMode":"grid", "sortToPreventGaps": false, "gapHorizontal": 15, "gapVertical": 15, "mediaQueries": [ { "width": "1024", "cols": "3" }, { "width": "480", "cols": "2" }, { "width": 0, "cols": 1 } ]
}'>
        @{
            foreach (string s in Model.Titles.OrderByDescending(x => x).ToList())
            {

                <div class="cbp-item d-lg-flex mb-3" data-animate="fadeIn" data-animate-delay="0.7">
                    <div class="flex-ew">
                        <a href="~/StaticViews/photo-collection-@(s.Substring(s.Length - 4)).htm" class="cbp-caption cbp-singlePage" data-title="@s.Substring(s.Length - 4)" rel="nofollow">
                            <div class="cbp-caption-defaultWrap text-center px-3 py-7 overlay overlay-gradient overlay-op-6 flex-valign" data-bg-img="../assets/img/Photos/@s.Substring(s.Length - 4)/title.jpg">
                                <h2 class="text-white text-uppercase mb-0 text-slab">
                                    @s.Substring(s.Length - 4)
                                </h2>
                                <hr class="hr-lg mt-2 mb-0 w-20 mx-auto hr-primary" />
                            </div>
                            <div class="cbp-caption-activeWrap">
                                <div class="cbp-l-caption-alignCenter">
                                    <div class="cbp-l-caption-body">
                                        <div class="cbp-l-caption-title">@s.Substring(s.Length - 4)</div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            }
        }
    </div>
</div>
