﻿<style class="css">
    .timeline-item {
        border-bottom-color: #5D6D7E !important
    }
</style>


<div class="timeline timeline-stacked">
    
    <div class="timeline-breaker">2012</div>
    <div class="timeline-item animated fadeIn de-02" >
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://drive.google.com/file/d/0B4aqlE6SM4NBc0lTSFpCOUowdmM/preview" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>

    <div class="timeline-breaker timeline-breaker-middle">2009</div>
    <div class="timeline-item animated fadeIn de-02">
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://drive.google.com/file/d/0B4aqlE6SM4NBM09iUWE5dEtxRm8/preview" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-sm-2"></div>
        </div>
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://drive.google.com/file/d/0B4aqlE6SM4NBdUc5b3d0MXpzS00/preview" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>
    
    <div class="timeline-breaker timeline-breaker-middle">2008</div>
    <div class="timeline-item animated fadeIn de-02">
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://drive.google.com/file/d/0B4aqlE6SM4NBc0NNaGxiS2ZTcUE/preview" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-sm-2"></div>
        </div>
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://drive.google.com/file/d/0B4aqlE6SM4NBeDJIbFZjcnhoTnc/preview" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>
    
    <div class="timeline-breaker timeline-breaker-middle">2007</div>
    <div class="timeline-item animated fadeIn de-02">
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://drive.google.com/file/d/0B4aqlE6SM4NBYTVpMExVR2tmSlk/preview" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-sm-2"></div>
        </div>
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://drive.google.com/file/d/0B4aqlE6SM4NBMFZzQ1Z3Q3JEc0k/preview" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>
    
    <div class="timeline-breaker timeline-breaker-middle">2005</div>
    <div class="timeline-item animated fadeIn de-02">
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://drive.google.com/file/d/0BwrmaXZfTI06NDZQTWczekVhSmM/preview" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-sm-2"></div>
        </div>
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://drive.google.com/file/d/0BwrmaXZfTI06OGp2U0wzRUU2cUU/preview" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>
    
    <div class="timeline-breaker timeline-breaker-middle">2004</div>
    <div class="timeline-item animated fadeIn de-02">
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://drive.google.com/file/d/0BwrmaXZfTI06Ym1UbHpra3QxS2c/preview" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>
    
    <div class="timeline-breaker timeline-breaker-middle">2003</div>
    <div class="timeline-item animated fadeIn de-02">
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://drive.google.com/file/d/0BwrmaXZfTI06dlZqb3dKRWFIODA/preview" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>
    
    <div class="timeline-breaker timeline-breaker-middle">2001</div>
    <div class="timeline-item animated fadeIn de-02">
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://drive.google.com/file/d/0BwrmaXZfTI06YVRDSmZ2SHBsamc/preview" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>
    
    <div class="timeline-breaker timeline-breaker-middle">2000</div>
    <div class="timeline-item animated fadeIn de-02">
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://drive.google.com/file/d/0BwrmaXZfTI06c1hISlU2Ymo2UEk/preview" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>
    
    <div class="timeline-breaker timeline-breaker-middle">98-99</div>
    <div class="timeline-item animated fadeIn de-02">
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://drive.google.com/file/d/0BwrmaXZfTI06bGpWcEt6VzAtX1k/preview" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>

    <div class="timeline-breaker timeline-breaker-bottom">KONIEC</div>
</div>



