<div class="bg - faded p - 3 mb - 3 rounded">
  <h2 class="text-uppercase mb-3 mt-0 text-slab">2016</h2>
      <div class="row" data-toggle="magnific-popup" data-magnific-popup-settings='{"delegate":"a", "gallery":{"enabled":true}}'>
    <!-- Photo 0-->
    <div class="col-md-6 col-lg-4 col-xl-3 mb-4 rounded" data-animate="fadeIn" data-animate-delay="0">
      <a href="../assets/img/Photos/2016/image2016_0001.jpg">
        <img src="../assets/img/Photos/2016/image2016_0001.jpg" class="img-fluid" alt="Photo 0" style="max-height: 298.172px !important" />
      </a>
    </div>
    <!-- Photo 1-->
    <div class="col-md-6 col-lg-4 col-xl-3 mb-4 rounded" data-animate="fadeIn" data-animate-delay="0.1">
      <a href="../assets/img/Photos/2016/image2016_0002.jpg">
        <img src="../assets/img/Photos/2016/image2016_0002.jpg" class="img-fluid" alt="Photo 1" style="max-height: 298.172px !important" />
      </a>
    </div>
    <!-- Photo 2-->
    <div class="col-md-6 col-lg-4 col-xl-3 mb-4 rounded" data-animate="fadeIn" data-animate-delay="0.2">
      <a href="../assets/img/Photos/2016/image2016_0003.jpg">
        <img src="../assets/img/Photos/2016/image2016_0003.jpg" class="img-fluid" alt="Photo 2" style="max-height: 298.172px !important" />
      </a>
    </div>
    <!-- Photo 3-->
    <div class="col-md-6 col-lg-4 col-xl-3 mb-4 rounded" data-animate="fadeIn" data-animate-delay="0.3">
      <a href="../assets/img/Photos/2016/image2016_0004.jpg">
        <img src="../assets/img/Photos/2016/image2016_0004.jpg" class="img-fluid" alt="Photo 3" style="max-height: 298.172px !important" />
      </a>
    </div>
    <!-- Photo 4-->
    <div class="col-md-6 col-lg-4 col-xl-3 mb-4 rounded" data-animate="fadeIn" data-animate-delay="0.4">
      <a href="../assets/img/Photos/2016/image2016_0005.jpg">
        <img src="../assets/img/Photos/2016/image2016_0005.jpg" class="img-fluid" alt="Photo 4" style="max-height: 298.172px !important" />
      </a>
    </div>
    <!-- Photo 5-->
    <div class="col-md-6 col-lg-4 col-xl-3 mb-4 rounded" data-animate="fadeIn" data-animate-delay="0.5">
      <a href="../assets/img/Photos/2016/image2016_0007.jpg">
        <img src="../assets/img/Photos/2016/image2016_0007.jpg" class="img-fluid" alt="Photo 5" style="max-height: 298.172px !important" />
      </a>
    </div>
    <!-- Photo 6-->
    <div class="col-md-6 col-lg-4 col-xl-3 mb-4 rounded" data-animate="fadeIn" data-animate-delay="0.6">
      <a href="../assets/img/Photos/2016/image2016_0008.jpg">
        <img src="../assets/img/Photos/2016/image2016_0008.jpg" class="img-fluid" alt="Photo 6" style="max-height: 298.172px !important" />
      </a>
    </div>
    <!-- Photo 7-->
    <div class="col-md-6 col-lg-4 col-xl-3 mb-4 rounded" data-animate="fadeIn" data-animate-delay="0.7">
      <a href="../assets/img/Photos/2016/image2016_0009.jpg">
        <img src="../assets/img/Photos/2016/image2016_0009.jpg" class="img-fluid" alt="Photo 7" style="max-height: 298.172px !important" />
      </a>
    </div>
    <!-- Photo 8-->
    <div class="col-md-6 col-lg-4 col-xl-3 mb-4 rounded" data-animate="fadeIn" data-animate-delay="0.8">
      <a href="../assets/img/Photos/2016/image2016_0010.jpg">
        <img src="../assets/img/Photos/2016/image2016_0010.jpg" class="img-fluid" alt="Photo 8" style="max-height: 298.172px !important" />
      </a>
    </div>
    <!-- Photo 9-->
    <div class="col-md-6 col-lg-4 col-xl-3 mb-4 rounded" data-animate="fadeIn" data-animate-delay="0.9">
      <a href="../assets/img/Photos/2016/image2016_0011.jpg">
        <img src="../assets/img/Photos/2016/image2016_0011.jpg" class="img-fluid" alt="Photo 9" style="max-height: 298.172px !important" />
      </a>
    </div>
    <!-- Photo 10-->
    <div class="col-md-6 col-lg-4 col-xl-3 mb-4 rounded" data-animate="fadeIn" data-animate-delay="1">
      <a href="../assets/img/Photos/2016/image2016_0012.jpg">
        <img src="../assets/img/Photos/2016/image2016_0012.jpg" class="img-fluid" alt="Photo 10" style="max-height: 298.172px !important" />
      </a>
    </div>
    <!-- Photo 11-->
    <div class="col-md-6 col-lg-4 col-xl-3 mb-4 rounded" data-animate="fadeIn" data-animate-delay="1.1">
      <a href="../assets/img/Photos/2016/image2016_0013.jpg">
        <img src="../assets/img/Photos/2016/image2016_0013.jpg" class="img-fluid" alt="Photo 11" style="max-height: 298.172px !important" />
      </a>
    </div>
    <!-- Photo 12-->
    <div class="col-md-6 col-lg-4 col-xl-3 mb-4 rounded" data-animate="fadeIn" data-animate-delay="1.2">
      <a href="../assets/img/Photos/2016/image2016_0014.jpg">
        <img src="../assets/img/Photos/2016/image2016_0014.jpg" class="img-fluid" alt="Photo 12" style="max-height: 298.172px !important" />
      </a>
    </div>
    <!-- Photo 13-->
    <div class="col-md-6 col-lg-4 col-xl-3 mb-4 rounded" data-animate="fadeIn" data-animate-delay="1.3">
      <a href="../assets/img/Photos/2016/image2016_0015.jpg">
        <img src="../assets/img/Photos/2016/image2016_0015.jpg" class="img-fluid" alt="Photo 13" style="max-height: 298.172px !important" />
      </a>
    </div>
    <!-- Photo 14-->
    <div class="col-md-6 col-lg-4 col-xl-3 mb-4 rounded" data-animate="fadeIn" data-animate-delay="1.4">
      <a href="../assets/img/Photos/2016/image2016_0016.jpg">
        <img src="../assets/img/Photos/2016/image2016_0016.jpg" class="img-fluid" alt="Photo 14" style="max-height: 298.172px !important" />
      </a>
    </div>
    <!-- Photo 15-->
    <div class="col-md-6 col-lg-4 col-xl-3 mb-4 rounded" data-animate="fadeIn" data-animate-delay="1.5">
      <a href="../assets/img/Photos/2016/image2016_0017.jpg">
        <img src="../assets/img/Photos/2016/image2016_0017.jpg" class="img-fluid" alt="Photo 15" style="max-height: 298.172px !important" />
      </a>
    </div>
    <!-- Photo 16-->
    <div class="col-md-6 col-lg-4 col-xl-3 mb-4 rounded" data-animate="fadeIn" data-animate-delay="1.6">
      <a href="../assets/img/Photos/2016/image2016_0018.jpg">
        <img src="../assets/img/Photos/2016/image2016_0018.jpg" class="img-fluid" alt="Photo 16" style="max-height: 298.172px !important" />
      </a>
    </div>
    <!-- Photo 17-->
    <div class="col-md-6 col-lg-4 col-xl-3 mb-4 rounded" data-animate="fadeIn" data-animate-delay="1.7">
      <a href="../assets/img/Photos/2016/image2016_0019.jpg">
        <img src="../assets/img/Photos/2016/image2016_0019.jpg" class="img-fluid" alt="Photo 17" style="max-height: 298.172px !important" />
      </a>
    </div>
    <!-- Photo 18-->
    <div class="col-md-6 col-lg-4 col-xl-3 mb-4 rounded" data-animate="fadeIn" data-animate-delay="1.8">
      <a href="../assets/img/Photos/2016/image2016_0020.jpg">
        <img src="../assets/img/Photos/2016/image2016_0020.jpg" class="img-fluid" alt="Photo 18" style="max-height: 298.172px !important" />
      </a>
    </div>
    <!-- Photo 19-->
    <div class="col-md-6 col-lg-4 col-xl-3 mb-4 rounded" data-animate="fadeIn" data-animate-delay="1.9">
      <a href="../assets/img/Photos/2016/image2016_0021.jpg">
        <img src="../assets/img/Photos/2016/image2016_0021.jpg" class="img-fluid" alt="Photo 19" style="max-height: 298.172px !important" />
      </a>
    </div>
    <!-- Photo 20-->
    <div class="col-md-6 col-lg-4 col-xl-3 mb-4 rounded" data-animate="fadeIn" data-animate-delay="2">
      <a href="../assets/img/Photos/2016/image2016_0022.jpg">
        <img src="../assets/img/Photos/2016/image2016_0022.jpg" class="img-fluid" alt="Photo 20" style="max-height: 298.172px !important" />
      </a>
    </div>
    <!-- Photo 21-->
    <div class="col-md-6 col-lg-4 col-xl-3 mb-4 rounded" data-animate="fadeIn" data-animate-delay="2.1">
      <a href="../assets/img/Photos/2016/image2016_0023.jpg">
        <img src="../assets/img/Photos/2016/image2016_0023.jpg" class="img-fluid" alt="Photo 21" style="max-height: 298.172px !important" />
      </a>
    </div>
    <!-- Photo 22-->
    <div class="col-md-6 col-lg-4 col-xl-3 mb-4 rounded" data-animate="fadeIn" data-animate-delay="2.2">
      <a href="../assets/img/Photos/2016/image2016_0024.jpg">
        <img src="../assets/img/Photos/2016/image2016_0024.jpg" class="img-fluid" alt="Photo 22" style="max-height: 298.172px !important" />
      </a>
    </div>
    <!-- Photo 23-->
    <div class="col-md-6 col-lg-4 col-xl-3 mb-4 rounded" data-animate="fadeIn" data-animate-delay="2.3">
      <a href="../assets/img/Photos/2016/image2016_0025.jpg">
        <img src="../assets/img/Photos/2016/image2016_0025.jpg" class="img-fluid" alt="Photo 23" style="max-height: 298.172px !important" />
      </a>
    </div>
    <!-- Photo 24-->
    <div class="col-md-6 col-lg-4 col-xl-3 mb-4 rounded" data-animate="fadeIn" data-animate-delay="2.4">
      <a href="../assets/img/Photos/2016/image2016_0026.jpg">
        <img src="../assets/img/Photos/2016/image2016_0026.jpg" class="img-fluid" alt="Photo 24" style="max-height: 298.172px !important" />
      </a>
    </div>
    <!-- Photo 25-->
    <div class="col-md-6 col-lg-4 col-xl-3 mb-4 rounded" data-animate="fadeIn" data-animate-delay="2.5">
      <a href="../assets/img/Photos/2016/image2016_0027.jpg">
        <img src="../assets/img/Photos/2016/image2016_0027.jpg" class="img-fluid" alt="Photo 25" style="max-height: 298.172px !important" />
      </a>
    </div>
    <!-- Photo 26-->
    <div class="col-md-6 col-lg-4 col-xl-3 mb-4 rounded" data-animate="fadeIn" data-animate-delay="2.6">
      <a href="../assets/img/Photos/2016/image2016_0028.jpg">
        <img src="../assets/img/Photos/2016/image2016_0028.jpg" class="img-fluid" alt="Photo 26" style="max-height: 298.172px !important" />
      </a>
    </div>
    <!-- Photo 27-->
    <div class="col-md-6 col-lg-4 col-xl-3 mb-4 rounded" data-animate="fadeIn" data-animate-delay="2.7">
      <a href="../assets/img/Photos/2016/image2016_0029.jpg">
        <img src="../assets/img/Photos/2016/image2016_0029.jpg" class="img-fluid" alt="Photo 27" style="max-height: 298.172px !important" />
      </a>
    </div>
    <!-- Photo 28-->
    <div class="col-md-6 col-lg-4 col-xl-3 mb-4 rounded" data-animate="fadeIn" data-animate-delay="2.8">
      <a href="../assets/img/Photos/2016/image2016_0030.jpg">
        <img src="../assets/img/Photos/2016/image2016_0030.jpg" class="img-fluid" alt="Photo 28" style="max-height: 298.172px !important" />
      </a>
    </div>
    <!-- Photo 29-->
    <div class="col-md-6 col-lg-4 col-xl-3 mb-4 rounded" data-animate="fadeIn" data-animate-delay="2.9">
      <a href="../assets/img/Photos/2016/image2016_0031.jpg">
        <img src="../assets/img/Photos/2016/image2016_0031.jpg" class="img-fluid" alt="Photo 29" style="max-height: 298.172px !important" />
      </a>
    </div>
    <!-- Photo 30-->
    <div class="col-md-6 col-lg-4 col-xl-3 mb-4 rounded" data-animate="fadeIn" data-animate-delay="3">
      <a href="../assets/img/Photos/2016/image2016_0032.jpg">
        <img src="../assets/img/Photos/2016/image2016_0032.jpg" class="img-fluid" alt="Photo 30" style="max-height: 298.172px !important" />
      </a>
    </div>
    <!-- Photo 31-->
    <div class="col-md-6 col-lg-4 col-xl-3 mb-4 rounded" data-animate="fadeIn" data-animate-delay="3.1">
      <a href="../assets/img/Photos/2016/image2016_0033.jpg">
        <img src="../assets/img/Photos/2016/image2016_0033.jpg" class="img-fluid" alt="Photo 31" style="max-height: 298.172px !important" />
      </a>
    </div>
    <!-- Photo 32-->
    <div class="col-md-6 col-lg-4 col-xl-3 mb-4 rounded" data-animate="fadeIn" data-animate-delay="3.2">
      <a href="../assets/img/Photos/2016/image2016_0034.jpg">
        <img src="../assets/img/Photos/2016/image2016_0034.jpg" class="img-fluid" alt="Photo 32" style="max-height: 298.172px !important" />
      </a>
    </div>
    <!-- Photo 33-->
    <div class="col-md-6 col-lg-4 col-xl-3 mb-4 rounded" data-animate="fadeIn" data-animate-delay="3.3">
      <a href="../assets/img/Photos/2016/image2016_0035.jpg">
        <img src="../assets/img/Photos/2016/image2016_0035.jpg" class="img-fluid" alt="Photo 33" style="max-height: 298.172px !important" />
      </a>
    </div>
    <!-- Photo 34-->
    <div class="col-md-6 col-lg-4 col-xl-3 mb-4 rounded" data-animate="fadeIn" data-animate-delay="3.4">
      <a href="../assets/img/Photos/2016/image2016_0036.jpg">
        <img src="../assets/img/Photos/2016/image2016_0036.jpg" class="img-fluid" alt="Photo 34" style="max-height: 298.172px !important" />
      </a>
    </div>
    <!-- Photo 35-->
    <div class="col-md-6 col-lg-4 col-xl-3 mb-4 rounded" data-animate="fadeIn" data-animate-delay="3.5">
      <a href="../assets/img/Photos/2016/image2016_0037.jpg">
        <img src="../assets/img/Photos/2016/image2016_0037.jpg" class="img-fluid" alt="Photo 35" style="max-height: 298.172px !important" />
      </a>
    </div>
    <!-- Photo 36-->
    <div class="col-md-6 col-lg-4 col-xl-3 mb-4 rounded" data-animate="fadeIn" data-animate-delay="3.6">
      <a href="../assets/img/Photos/2016/image2016_0038.jpg">
        <img src="../assets/img/Photos/2016/image2016_0038.jpg" class="img-fluid" alt="Photo 36" style="max-height: 298.172px !important" />
      </a>
    </div>
    <!-- Photo 37-->
    <div class="col-md-6 col-lg-4 col-xl-3 mb-4 rounded" data-animate="fadeIn" data-animate-delay="3.7">
      <a href="../assets/img/Photos/2016/image2016_0039.jpg">
        <img src="../assets/img/Photos/2016/image2016_0039.jpg" class="img-fluid" alt="Photo 37" style="max-height: 298.172px !important" />
      </a>
    </div>
    <!-- Photo 38-->
    <div class="col-md-6 col-lg-4 col-xl-3 mb-4 rounded" data-animate="fadeIn" data-animate-delay="3.8">
      <a href="../assets/img/Photos/2016/image2016_0040.jpg">
        <img src="../assets/img/Photos/2016/image2016_0040.jpg" class="img-fluid" alt="Photo 38" style="max-height: 298.172px !important" />
      </a>
    </div>
    <!-- Photo 39-->
    <div class="col-md-6 col-lg-4 col-xl-3 mb-4 rounded" data-animate="fadeIn" data-animate-delay="3.9">
      <a href="../assets/img/Photos/2016/image2016_0041.jpg">
        <img src="../assets/img/Photos/2016/image2016_0041.jpg" class="img-fluid" alt="Photo 39" style="max-height: 298.172px !important" />
      </a>
    </div>
    <!-- Photo 40-->
    <div class="col-md-6 col-lg-4 col-xl-3 mb-4 rounded" data-animate="fadeIn" data-animate-delay="4">
      <a href="../assets/img/Photos/2016/image2016_0042.jpg">
        <img src="../assets/img/Photos/2016/image2016_0042.jpg" class="img-fluid" alt="Photo 40" style="max-height: 298.172px !important" />
      </a>
    </div>
    <!-- Photo 41-->
    <div class="col-md-6 col-lg-4 col-xl-3 mb-4 rounded" data-animate="fadeIn" data-animate-delay="4.1">
      <a href="../assets/img/Photos/2016/image2016_0043.jpg">
        <img src="../assets/img/Photos/2016/image2016_0043.jpg" class="img-fluid" alt="Photo 41" style="max-height: 298.172px !important" />
      </a>
    </div>
    <!-- Photo 42-->
    <div class="col-md-6 col-lg-4 col-xl-3 mb-4 rounded" data-animate="fadeIn" data-animate-delay="4.2">
      <a href="../assets/img/Photos/2016/title.jpg">
        <img src="../assets/img/Photos/2016/title.jpg" class="img-fluid" alt="Photo 42" style="max-height: 298.172px !important" />
      </a>
    </div>
  </div>
</div>