﻿<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- todo: fill with your company info or remove -->
    <meta name="description" content="">
    <meta name="author" content="Themelize.me">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
    
    <!-- Bootstrap 4.0.0-alpha.6 CSS via CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">

    <!-- Font Awesome 4.7.0 via CDN -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- Plugins required on all pages NOTE: Additional non-required plugins are loaded ondemand as of AppStrap 2.5 -->
    <!-- Plugin: flag icons - http://lipis.github.io/flag-icon-css/ -->
    <link href="~/assets/plugins/flag-icon-css/css/flag-icon.min.css" rel="stylesheet">

    <!-- Theme style -->
    <link href="~/assets/css/theme-style.css" rel="stylesheet">

    <!--Your custom colour override-->
    <link href="~/assets/css/colour-slate.min.css" id="colour-scheme" rel="stylesheet">
        
    <!-- Le fav and touch icons - todo: fill with your icons or remove -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,700,300" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Rambla" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Calligraffitti" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Roboto+Slab:400,700" rel="stylesheet" type="text/css">
    
    <!--Plugin: Retina.js (high def image replacement) - see: http://retinajs.com/-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/retina.js/1.3.0/retina.min.js"></script>
</head>

<!-- ======== Region: body ======== -->
<body class="page page-index navbar-layout-default">   

    <!-- plugin: page loading indicator, delete to remove loader -->
    <div class="page-loader" data-toggle="page-loader"></div>

    <!-- ======== Region: #header ======== -->
    <div id="header">
        @{ Html.RenderPartial("Navigation/_NavigationBar");  }

    </div>
    
    <!-- ======== Region: #content ======== -->
    <div id="content" class="p-0">
        @RenderBody()
    </div>

    <!-- ======== Region: #footer ======== -->
    <footer id="footer" class="p-0">
        <hr class="my-0 hr-blank op-2" />
        <div class="bg-inverse-dark text-sm py-3">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <p class="mb-0">Motyw graficzny: <a href="http://appstraptheme.com" class="footer-link">AppStrap</a> | Copyright 2017 &copy; Łukasz Iwanków</p>
                    </div>                    
                </div>
                <a href="#top" class="btn btn-icon btn-inverse pos-fixed pos-b pos-r mr-3 mb-3 scroll-state-hidden hidden-md-down" title="Back to top" data-scroll="scroll-state"><i class="fa fa-chevron-up"></i></a>
            </div>
        </div>
    </footer>    
    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <!-- JS plugins required on all pages NOTE: Additional non-required plugins are loaded ondemand as of AppStrap 2.5 -->
    <!--Custom scripts mainly used to trigger libraries/plugins -->
    <script src="~/assets/js/script.min.js"></script>
</body>
</html>

